
Cocktail.xcworkspace/xcuserdata/etudiant.xcuserdatad/UserInterfaceState.xcuserstate
Cocktail/.DS_Store
Cocktail/Assets.xcassets/.DS_Store
.DS_Store
Cocktail.xcworkspace/xcuserdata/etudiant.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
